@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body {
    background-color: #121213;
    margin: 0px;
}


h1{
    color: white;
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v22/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjovoSmYmRjRdE.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    font-weight: 700;
    margin: auto;
    position: relative;
    right: 2%;
    user-select: none;
    
}

button{
    color: white;
    background-color: rgb(20,20,22);
    height: 25px;
    width: 25px;
    margin: 5px;
    position: relative;
    top: 7px;
    border-radius: 50%;
    border: 2px solid white;
    
}

header > button, h1{
    display: inline-block;
}

.header{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

hr{
    margin: 0;
}

.wordboard{
    max-height: 60vh;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    margin-top: 140px;
    width: 330px;
    height: 400px;
    
}

#row{
    display: flex;
    flex-direction: row;
    width: 330px;
    justify-content: space-evenly;
    height: 62px;
}

#tile{
    flex-grow: 1;
    height: 58px;
    width: 58px;
    background-color: #121213;
    color: white;
    justify-content: center;
    margin: 3px;
    border: 2px solid #3a3a3c;
    display: flex;
    align-items: center;
}

/* whenever the word is inputted by the player change the tile size to 62x62, 
remove the border, and change the color to #3a3a3c !!!*/

.tiletext{
    font-size: 2em;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v22/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjovoSmYmRjRdE.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    font-weight: 300;
    margin: auto;
    text-align: center;
    height: 32px;
    width: 32px;
    padding-bottom: 10px;
    user-select: none;
}

/* #keyrow, #key {
    border: 1px solid mediumvioletred;
} */

#keyrow{
    display: flex;
    justify-content: center;
    max-width: 500px;
    max-height: 58px;
    margin-bottom: 7px;
}

#key:not(.enter, .delete){
    flex-direction: row;
    width: 43px;
    height: 58px;
}

#key{
    background-color: #818384;
    border-radius: 10%;
    margin-right: 7px;
    display: flex;
    align-items: center;
}

main > .keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 40vh;
}

.keyboard{
    margin: auto;
    max-width: 500px;
    max-height: 200px;
    margin-top: 150px;
}

.keytext{
    padding: 10px;
    margin: auto;
    color: white;
    font-family: sans-serif;
    user-select: none;
}

.zxc{
    margin-left: 7px;
}

.demoinput{
    background-color: transparent;
    border-color: transparent;
    color: white;
    outline: none;
    z-index: 5;
    margin: auto;
}
